{
	"semi": false,
	"singleQuote": true,
	"tabWidth": 2,
	"trailingComma": "all",
	"printWidth": 120,
	"bracketSpacing": true,
	"arrowParens": "avoid",
	"endOfLine": "auto",
	"vueIndentScriptAndStyle": false,
	"htmlWhitespaceSensitivity": "ignore",
	"useTabs": true,
	"singleAttributePerLine": false
}
