.header {
	margin-bottom: 16px;
	padding: 16px;
	background: var(--bg-color);
	border-radius: var(--border-radius-md);

	.title {
		font-size: var(--font-size-xl);
		font-weight: bold;
		color: var(--text-color);
		margin-bottom: 8px;
	}

	.time {
		font-size: var(--font-size-sm);
		color: var(--text-color-secondary);
	}
}
